<table class="table">
  <thead>
    <tr>
      <th>Session</th>
      <th>Created At:</th>
      <th>Distractions</th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.name %></td>
        <td><%= session.created_at.strftime("%m/%d/%Y @%I:%M%P") %></td>
        <td>
        </td>
        <td> <%= session.distractions.size %> </td>
        
        <td>
        <%= link_to 'Delete', session, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>