<h1> Welcome to Distracker </h1>
<h3> The simple distraction-tracking web application </h3>

<% if user_signed_in? %>

	<%= render './seshes/form' %>
	<%= render './seshes/index' %>

<% else %>
	
	<%= link_to "Log in", new_user_session_path %>
	<%= link_to "Sign up", new_user_registration_path %>

<% end %>